@charset "UTF-8";
/*Simbolos de comentário para CSS*/

body
    {
        background-color: rgba(0, 0, 0, 0.884);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
h1
    {
        color: aliceblue;
    }
h2
    {
        color: aliceblue;
    }
p
    {
        color: aliceblue;
    }
ul
    {
        color: aliceblue;
    }
abbr
    {
        color: rgba(0, 162, 255, 0.705);
    }